@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

@font-face {
  font-family: "gothic";
  src: local("gothic"), url("./packages/fonts/SawarabiGothic-Regular.ttf");
}

html {
  background-color: rgb(0 0 0 / 4%);
  height: 100%;
}

.pagination {
  margin-left: auto;
  display: flex;
  list-style: none;
  outline: none;
  justify-content: right;
}
.pagination > .active > a {
  background-color: #5540ff;
  border-color: gray;
  color: #fff;
}
.pagination > li > a {
  padding: 5px 10px;
  outline: none;
  cursor: pointer;

}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #5540ff;
  border-color: gray;
  outline: none;
}
.pagination > li > a,
.pagination > li > span {
  color: #000;
}

.login-form {
  outline: none !important;
  border: none !important;
  display: block !important;
  line-height: 1.2em !important;
  font-size: 16px !important;
  padding: 4px !important;
  background-color: #e2e2e2 !important;
}
.login-form::placeholder {
  font-size: 14px !important;
}
